CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_DW=y
CONFIG_SERIAL_8250_RS485=y
CONFIG_SERIAL_ROCKCHIP=y
CONFIG_SERIAL_ROCKCHIP_CONSOLE=y
CONFIG_WLAN=y
CONFIG_WLAN_VENDOR_AIC=y
CONFIG_AIC8800_SDIO=y
CONFIG_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_OPTION=y
CONFIG_USB_RNDIS_HOST=y